*{
    margin: 0;
    height: 100%;
    text-align: center;
}

.bg-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    padding: 3%;
    color: #D47AE8;
    font-size: 5.5rem;
    font-weight: bold;
    text-shadow: 3px 0 #9f14be;
    font-family: 'Courgette', cursive;
}

.set {
    margin: 4% auto;
}

.w{
    background-image: url('images/tom1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a{
    background-image: url('images/tom2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s{
    background-image: url('images/tom3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.d{
    background-image: url('images/tom4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.j{
    background-image: url('images/snare.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.k{
    background-image: url('images/crash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.l{
    background-image: url('images/kick.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.drum {
    outline: none;
    border: 5px solid #404B69;
    font-size: 4.5rem;
    font-family: cursive;
    line-height: 2.5;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

.pressed{
    box-shadow: 0 2% 3% 0 #DBEDF3;
    opacity: 0.8;
}

p{
    color: #c2c2c2;
    padding-top: 4%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 700px) {

.drum{
    font-size: 3rem;
    width: 120px;
    height: 120px;
    line-height: 3;
    margin:9px;
}

h1{
    /* padding-top: 5%; */
    padding: 2.5%;
    font-size: 4.5rem;
}
}

@media (max-width: 420px){
.drum{
    font-size: 2.7rem;
    width: 90px;
    height: 90px;
    line-height: 2.1;
}

h1{
    padding-top: 5%;
    padding-bottom: 2.5%;
    font-size: 4rem;
}
}